@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;600;800&display=swap');

$NotoSans: 'Noto Sans', sans-serif;
//colors 
$dark: rgb(29, 29, 29);
$light: #fff;
$gray: rgba(102, 98, 98, 0.767);
// $breakpoints: (
//   "phone": 360px,
//   "tablet": 768px,
//   "desktop": 1366px,
//   "LGdesktop": 1920px
// ) !default;

